<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>咨询预约</string>
		<key>image</key>
		<string>icon_zaixianyuyue</string>
		<key>controller</key>
		<string>HZYuYueViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>在线申报</string>
		<key>image</key>
		<string>icon_zaixianbanshi</string>
		<key>controller</key>
		<string>HZLocateViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>进度查询</string>
		<key>image</key>
		<string>icon_jinduchaxun</string>
		<key>controller</key>
		<string>HZJinDuViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>过程上报</string>
		<key>image</key>
		<string>icon_guochengshangbao</string>
		<key>controller</key>
		<string>HZShangBaoViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>公示登记</string>
		<key>image</key>
		<string>icon_gongshidengji</string>
		<key>controller</key>
		<string>HZGongShiViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>办事指南</string>
		<key>image</key>
		<string>icon_banshizhinan</string>
		<key>controller</key>
		<string>HZBanShiViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>消息通知</string>
		<key>image</key>
		<string>icon_xiaoxitongzhi</string>
		<key>controller</key>
		<string>HZNoticeViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>常用表格</string>
		<key>image</key>
		<string>icon_xiaoxitongzhi</string>
		<key>controller</key>
		<string>HZBiaoGeViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>消息公告</string>
		<key>image</key>
		<string>icon_xiaoxigonggao</string>
		<key>controller</key>
		<string>HZNewsViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>个人中心</string>
		<key>image</key>
		<string>icon_gerenzhongxin</string>
		<key>controller</key>
		<string>HZPersonalViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>退出</string>
		<key>image</key>
		<string>icon_quit</string>
		<key>controller</key>
		<string></string>
	</dict>
</array>
</plist>
