<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>在线办理</string>
		<key>image</key>
		<string>icon_zaixianbanshi</string>
		<key>controller</key>
		<string>HZLocateViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>办事指南</string>
		<key>image</key>
		<string>icon_banshizhinan</string>
		<key>controller</key>
		<string>HZBanShiViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>退出</string>
		<key>image</key>
		<string>icon_quit</string>
		<key>controller</key>
		<string></string>
	</dict>
</array>
</plist>
