<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>25</string>
		<key>content</key>
		<array>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>CC23D9E6DF1F431588CB61FC2C46A808</string>
				<key>fileTempletName</key>
				<string>建设项目选址意见书申请表</string>
				<key>sortId</key>
				<string>0</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>EABB51B0F6BC4E549F8A16F2565E3F02</string>
				<key>fileTempletName</key>
				<string>工商营业执照或组织机构代码证复印件（加盖单位公章），授权委托书,委托身份证明（须提供原件核对）</string>
				<key>sortId</key>
				<string>1</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>994491EC29784BD0AA0C5FBDBB5A91FC</string>
				<key>fileTempletName</key>
				<string>项目建议书批复（启用审批新流程项目可用发改项目收件单及项目建议书文本、电子文件）或项目备案文件（须提供原件核对）</string>
				<key>sortId</key>
				<string>2</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>11F995DF0DDA47EA82E76E75C6D5423D</string>
				<key>fileTempletName</key>
				<string>拟建位置1/1000带规划控制线地形图1份(用铅笔标明拟用地位置)</string>
				<key>sortId</key>
				<string>3</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>false</string>
				<key>fileTempletItemId</key>
				<string>62D10DD3F5F1493BA39F80AF272A5C19</string>
				<key>fileTempletName</key>
				<string>有效土地权属证明（自有用地项目提供）（须提供原件核对）</string>
				<key>sortId</key>
				<string>4</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>false</string>
				<key>fileTempletItemId</key>
				<string>A126BD364D77479DB4C5C4DE11683078</string>
				<key>fileTempletName</key>
				<string>选址论证报告批复文件及报告文本（成果稿）、电子光盘（要求编制选址论证报告的项目提供）</string>
				<key>sortId</key>
				<string>5</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>false</string>
				<key>fileTempletItemId</key>
				<string>E26708522C3646D2BF473120CAB702EB</string>
				<key>fileTempletName</key>
				<string>西湖风景名胜区项目需提供立项回复单、选址申报书、项目相关的会议纪要和政府研究批文（如涉及该项目本阶段事宜的需提供）</string>
				<key>sortId</key>
				<string>6</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>115</string>
		<key>content</key>
		<array>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>503BF785B4D0C569E05326FF1FAC18DA</string>
				<key>fileTempletName</key>
				<string>建设工程规划许可证申请表</string>
				<key>sortId</key>
				<string>0</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>EABB51B0F6BC4E549F8A16F2565E3F02</string>
				<key>fileTempletName</key>
				<string>工商营业执照或组织机构代码证复印件（加盖单位公章），授权委托书,委托身份证明（须提供原件核对）</string>
				<key>sortId</key>
				<string>1</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>994491EC29784BD0AA0C5FBDBB5A91FC</string>
				<key>fileTempletName</key>
				<string>项目建议书批复（启用审批新流程项目可用发改项目收件单及项目建议书文本、电子文件）或项目备案文件（须提供原件核对）</string>
				<key>sortId</key>
				<string>2</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>11F995DF0DDA47EA82E76E75C6D5423D</string>
				<key>fileTempletName</key>
				<string>拟建位置1/1000带规划控制线地形图1份(用铅笔标明拟用地位置)</string>
				<key>sortId</key>
				<string>3</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>false</string>
				<key>fileTempletItemId</key>
				<string>62D10DD3F5F1493BA39F80AF272A5C19</string>
				<key>fileTempletName</key>
				<string>有效土地权属证明（自有用地项目提供）（须提供原件核对）</string>
				<key>sortId</key>
				<string>4</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>false</string>
				<key>fileTempletItemId</key>
				<string>A126BD364D77479DB4C5C4DE11683078</string>
				<key>fileTempletName</key>
				<string>选址论证报告批复文件及报告文本（成果稿）、电子光盘（要求编制选址论证报告的项目提供）</string>
				<key>sortId</key>
				<string>5</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>false</string>
				<key>fileTempletItemId</key>
				<string>E26708522C3646D2BF473120CAB702EB</string>
				<key>fileTempletName</key>
				<string>西湖风景名胜区项目需提供立项回复单、选址申报书、项目相关的会议纪要和政府研究批文（如涉及该项目本阶段事宜的需提供）</string>
				<key>sortId</key>
				<string>6</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>25</string>
		<key>content</key>
		<array>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>CC23D9E6DF1F431588CB61FC2C46A808</string>
				<key>fileTempletName</key>
				<string>建设项目选址意见书申请表</string>
				<key>sortId</key>
				<string>0</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>EABB51B0F6BC4E549F8A16F2565E3F02</string>
				<key>fileTempletName</key>
				<string>工商营业执照或组织机构代码证复印件（加盖单位公章），授权委托书,委托身份证明（须提供原件核对）</string>
				<key>sortId</key>
				<string>1</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>994491EC29784BD0AA0C5FBDBB5A91FC</string>
				<key>fileTempletName</key>
				<string>项目建议书批复（启用审批新流程项目可用发改项目收件单及项目建议书文本、电子文件）或项目备案文件（须提供原件核对）</string>
				<key>sortId</key>
				<string>2</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>11F995DF0DDA47EA82E76E75C6D5423D</string>
				<key>fileTempletName</key>
				<string>拟建位置1/1000带规划控制线地形图1份(用铅笔标明拟用地位置)</string>
				<key>sortId</key>
				<string>3</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>false</string>
				<key>fileTempletItemId</key>
				<string>62D10DD3F5F1493BA39F80AF272A5C19</string>
				<key>fileTempletName</key>
				<string>有效土地权属证明（自有用地项目提供）（须提供原件核对）</string>
				<key>sortId</key>
				<string>4</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>false</string>
				<key>fileTempletItemId</key>
				<string>A126BD364D77479DB4C5C4DE11683078</string>
				<key>fileTempletName</key>
				<string>选址论证报告批复文件及报告文本（成果稿）、电子光盘（要求编制选址论证报告的项目提供）</string>
				<key>sortId</key>
				<string>5</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>false</string>
				<key>fileTempletItemId</key>
				<string>E26708522C3646D2BF473120CAB702EB</string>
				<key>fileTempletName</key>
				<string>西湖风景名胜区项目需提供立项回复单、选址申报书、项目相关的会议纪要和政府研究批文（如涉及该项目本阶段事宜的需提供）</string>
				<key>sortId</key>
				<string>6</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>25</string>
		<key>content</key>
		<array>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>CC23D9E6DF1F431588CB61FC2C46A808</string>
				<key>fileTempletName</key>
				<string>建设项目选址意见书申请表</string>
				<key>sortId</key>
				<string>0</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>EABB51B0F6BC4E549F8A16F2565E3F02</string>
				<key>fileTempletName</key>
				<string>工商营业执照或组织机构代码证复印件（加盖单位公章），授权委托书,委托身份证明（须提供原件核对）</string>
				<key>sortId</key>
				<string>1</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>994491EC29784BD0AA0C5FBDBB5A91FC</string>
				<key>fileTempletName</key>
				<string>项目建议书批复（启用审批新流程项目可用发改项目收件单及项目建议书文本、电子文件）或项目备案文件（须提供原件核对）</string>
				<key>sortId</key>
				<string>2</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>11F995DF0DDA47EA82E76E75C6D5423D</string>
				<key>fileTempletName</key>
				<string>拟建位置1/1000带规划控制线地形图1份(用铅笔标明拟用地位置)</string>
				<key>sortId</key>
				<string>3</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>false</string>
				<key>fileTempletItemId</key>
				<string>62D10DD3F5F1493BA39F80AF272A5C19</string>
				<key>fileTempletName</key>
				<string>有效土地权属证明（自有用地项目提供）（须提供原件核对）</string>
				<key>sortId</key>
				<string>4</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>false</string>
				<key>fileTempletItemId</key>
				<string>A126BD364D77479DB4C5C4DE11683078</string>
				<key>fileTempletName</key>
				<string>选址论证报告批复文件及报告文本（成果稿）、电子光盘（要求编制选址论证报告的项目提供）</string>
				<key>sortId</key>
				<string>5</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>false</string>
				<key>fileTempletItemId</key>
				<string>E26708522C3646D2BF473120CAB702EB</string>
				<key>fileTempletName</key>
				<string>西湖风景名胜区项目需提供立项回复单、选址申报书、项目相关的会议纪要和政府研究批文（如涉及该项目本阶段事宜的需提供）</string>
				<key>sortId</key>
				<string>6</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>25</string>
		<key>content</key>
		<array>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>CC23D9E6DF1F431588CB61FC2C46A808</string>
				<key>fileTempletName</key>
				<string>建设项目选址意见书申请表</string>
				<key>sortId</key>
				<string>0</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>EABB51B0F6BC4E549F8A16F2565E3F02</string>
				<key>fileTempletName</key>
				<string>工商营业执照或组织机构代码证复印件（加盖单位公章），授权委托书,委托身份证明（须提供原件核对）</string>
				<key>sortId</key>
				<string>1</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>994491EC29784BD0AA0C5FBDBB5A91FC</string>
				<key>fileTempletName</key>
				<string>项目建议书批复（启用审批新流程项目可用发改项目收件单及项目建议书文本、电子文件）或项目备案文件（须提供原件核对）</string>
				<key>sortId</key>
				<string>2</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>11F995DF0DDA47EA82E76E75C6D5423D</string>
				<key>fileTempletName</key>
				<string>拟建位置1/1000带规划控制线地形图1份(用铅笔标明拟用地位置)</string>
				<key>sortId</key>
				<string>3</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>false</string>
				<key>fileTempletItemId</key>
				<string>62D10DD3F5F1493BA39F80AF272A5C19</string>
				<key>fileTempletName</key>
				<string>有效土地权属证明（自有用地项目提供）（须提供原件核对）</string>
				<key>sortId</key>
				<string>4</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>false</string>
				<key>fileTempletItemId</key>
				<string>A126BD364D77479DB4C5C4DE11683078</string>
				<key>fileTempletName</key>
				<string>选址论证报告批复文件及报告文本（成果稿）、电子光盘（要求编制选址论证报告的项目提供）</string>
				<key>sortId</key>
				<string>5</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>false</string>
				<key>fileTempletItemId</key>
				<string>E26708522C3646D2BF473120CAB702EB</string>
				<key>fileTempletName</key>
				<string>西湖风景名胜区项目需提供立项回复单、选址申报书、项目相关的会议纪要和政府研究批文（如涉及该项目本阶段事宜的需提供）</string>
				<key>sortId</key>
				<string>6</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>25</string>
		<key>content</key>
		<array>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>CC23D9E6DF1F431588CB61FC2C46A808</string>
				<key>fileTempletName</key>
				<string>建设项目选址意见书申请表</string>
				<key>sortId</key>
				<string>0</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>EABB51B0F6BC4E549F8A16F2565E3F02</string>
				<key>fileTempletName</key>
				<string>工商营业执照或组织机构代码证复印件（加盖单位公章），授权委托书,委托身份证明（须提供原件核对）</string>
				<key>sortId</key>
				<string>1</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>994491EC29784BD0AA0C5FBDBB5A91FC</string>
				<key>fileTempletName</key>
				<string>项目建议书批复（启用审批新流程项目可用发改项目收件单及项目建议书文本、电子文件）或项目备案文件（须提供原件核对）</string>
				<key>sortId</key>
				<string>2</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>11F995DF0DDA47EA82E76E75C6D5423D</string>
				<key>fileTempletName</key>
				<string>拟建位置1/1000带规划控制线地形图1份(用铅笔标明拟用地位置)</string>
				<key>sortId</key>
				<string>3</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>false</string>
				<key>fileTempletItemId</key>
				<string>62D10DD3F5F1493BA39F80AF272A5C19</string>
				<key>fileTempletName</key>
				<string>有效土地权属证明（自有用地项目提供）（须提供原件核对）</string>
				<key>sortId</key>
				<string>4</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>false</string>
				<key>fileTempletItemId</key>
				<string>A126BD364D77479DB4C5C4DE11683078</string>
				<key>fileTempletName</key>
				<string>选址论证报告批复文件及报告文本（成果稿）、电子光盘（要求编制选址论证报告的项目提供）</string>
				<key>sortId</key>
				<string>5</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>false</string>
				<key>fileTempletItemId</key>
				<string>E26708522C3646D2BF473120CAB702EB</string>
				<key>fileTempletName</key>
				<string>西湖风景名胜区项目需提供立项回复单、选址申报书、项目相关的会议纪要和政府研究批文（如涉及该项目本阶段事宜的需提供）</string>
				<key>sortId</key>
				<string>6</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>25</string>
		<key>content</key>
		<array>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>CC23D9E6DF1F431588CB61FC2C46A808</string>
				<key>fileTempletName</key>
				<string>建设项目选址意见书申请表</string>
				<key>sortId</key>
				<string>0</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>EABB51B0F6BC4E549F8A16F2565E3F02</string>
				<key>fileTempletName</key>
				<string>工商营业执照或组织机构代码证复印件（加盖单位公章），授权委托书,委托身份证明（须提供原件核对）</string>
				<key>sortId</key>
				<string>1</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>994491EC29784BD0AA0C5FBDBB5A91FC</string>
				<key>fileTempletName</key>
				<string>项目建议书批复（启用审批新流程项目可用发改项目收件单及项目建议书文本、电子文件）或项目备案文件（须提供原件核对）</string>
				<key>sortId</key>
				<string>2</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>11F995DF0DDA47EA82E76E75C6D5423D</string>
				<key>fileTempletName</key>
				<string>拟建位置1/1000带规划控制线地形图1份(用铅笔标明拟用地位置)</string>
				<key>sortId</key>
				<string>3</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>false</string>
				<key>fileTempletItemId</key>
				<string>62D10DD3F5F1493BA39F80AF272A5C19</string>
				<key>fileTempletName</key>
				<string>有效土地权属证明（自有用地项目提供）（须提供原件核对）</string>
				<key>sortId</key>
				<string>4</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>false</string>
				<key>fileTempletItemId</key>
				<string>A126BD364D77479DB4C5C4DE11683078</string>
				<key>fileTempletName</key>
				<string>选址论证报告批复文件及报告文本（成果稿）、电子光盘（要求编制选址论证报告的项目提供）</string>
				<key>sortId</key>
				<string>5</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>false</string>
				<key>fileTempletItemId</key>
				<string>E26708522C3646D2BF473120CAB702EB</string>
				<key>fileTempletName</key>
				<string>西湖风景名胜区项目需提供立项回复单、选址申报书、项目相关的会议纪要和政府研究批文（如涉及该项目本阶段事宜的需提供）</string>
				<key>sortId</key>
				<string>6</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>25</string>
		<key>content</key>
		<array>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>CC23D9E6DF1F431588CB61FC2C46A808</string>
				<key>fileTempletName</key>
				<string>建设项目选址意见书申请表</string>
				<key>sortId</key>
				<string>0</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>EABB51B0F6BC4E549F8A16F2565E3F02</string>
				<key>fileTempletName</key>
				<string>工商营业执照或组织机构代码证复印件（加盖单位公章），授权委托书,委托身份证明（须提供原件核对）</string>
				<key>sortId</key>
				<string>1</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>994491EC29784BD0AA0C5FBDBB5A91FC</string>
				<key>fileTempletName</key>
				<string>项目建议书批复（启用审批新流程项目可用发改项目收件单及项目建议书文本、电子文件）或项目备案文件（须提供原件核对）</string>
				<key>sortId</key>
				<string>2</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>11F995DF0DDA47EA82E76E75C6D5423D</string>
				<key>fileTempletName</key>
				<string>拟建位置1/1000带规划控制线地形图1份(用铅笔标明拟用地位置)</string>
				<key>sortId</key>
				<string>3</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>false</string>
				<key>fileTempletItemId</key>
				<string>62D10DD3F5F1493BA39F80AF272A5C19</string>
				<key>fileTempletName</key>
				<string>有效土地权属证明（自有用地项目提供）（须提供原件核对）</string>
				<key>sortId</key>
				<string>4</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>false</string>
				<key>fileTempletItemId</key>
				<string>A126BD364D77479DB4C5C4DE11683078</string>
				<key>fileTempletName</key>
				<string>选址论证报告批复文件及报告文本（成果稿）、电子光盘（要求编制选址论证报告的项目提供）</string>
				<key>sortId</key>
				<string>5</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>false</string>
				<key>fileTempletItemId</key>
				<string>E26708522C3646D2BF473120CAB702EB</string>
				<key>fileTempletName</key>
				<string>西湖风景名胜区项目需提供立项回复单、选址申报书、项目相关的会议纪要和政府研究批文（如涉及该项目本阶段事宜的需提供）</string>
				<key>sortId</key>
				<string>6</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>25</string>
		<key>content</key>
		<array>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>CC23D9E6DF1F431588CB61FC2C46A808</string>
				<key>fileTempletName</key>
				<string>建设项目选址意见书申请表</string>
				<key>sortId</key>
				<string>0</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>EABB51B0F6BC4E549F8A16F2565E3F02</string>
				<key>fileTempletName</key>
				<string>工商营业执照或组织机构代码证复印件（加盖单位公章），授权委托书,委托身份证明（须提供原件核对）</string>
				<key>sortId</key>
				<string>1</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>994491EC29784BD0AA0C5FBDBB5A91FC</string>
				<key>fileTempletName</key>
				<string>项目建议书批复（启用审批新流程项目可用发改项目收件单及项目建议书文本、电子文件）或项目备案文件（须提供原件核对）</string>
				<key>sortId</key>
				<string>2</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>true</string>
				<key>fileTempletItemId</key>
				<string>11F995DF0DDA47EA82E76E75C6D5423D</string>
				<key>fileTempletName</key>
				<string>拟建位置1/1000带规划控制线地形图1份(用铅笔标明拟用地位置)</string>
				<key>sortId</key>
				<string>3</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>false</string>
				<key>fileTempletItemId</key>
				<string>62D10DD3F5F1493BA39F80AF272A5C19</string>
				<key>fileTempletName</key>
				<string>有效土地权属证明（自有用地项目提供）（须提供原件核对）</string>
				<key>sortId</key>
				<string>4</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>false</string>
				<key>fileTempletItemId</key>
				<string>A126BD364D77479DB4C5C4DE11683078</string>
				<key>fileTempletName</key>
				<string>选址论证报告批复文件及报告文本（成果稿）、电子光盘（要求编制选址论证报告的项目提供）</string>
				<key>sortId</key>
				<string>5</string>
			</dict>
			<dict>
				<key>businessType</key>
				<string>0</string>
				<key>fileMustUpload</key>
				<string>false</string>
				<key>fileTempletItemId</key>
				<string>E26708522C3646D2BF473120CAB702EB</string>
				<key>fileTempletName</key>
				<string>西湖风景名胜区项目需提供立项回复单、选址申报书、项目相关的会议纪要和政府研究批文（如涉及该项目本阶段事宜的需提供）</string>
				<key>sortId</key>
				<string>6</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
